{{- $value := . -}}
{{- if reflect.IsMap $value -}}
    {{- $parts := slice -}}
    {{- range $key, $item := $value -}}
        {{- $cleanItem := partial "json/clean.html" $item -}}
        {{- if ne ($cleanItem | string) "{}" -}}
            {{- $parts = $parts | append (printf "%s:%s" ($key | jsonify) ($cleanItem | string)) -}}
        {{- end -}}
    {{- end -}}
    {{- delimit $parts "," | printf "{%s}" | safeHTML -}}
{{- else if reflect.IsSlice $value -}}
    {{- $parts := slice -}}
    {{- range $item := $value -}}
        {{- $cleanItem := partial "json/clean.html" $item -}}
        {{- if ne ($cleanItem | string) "{}" -}}
            {{- $parts = $parts | append ($cleanItem | string) -}}
        {{- end -}}
    {{- end -}}
    {{- delimit $parts "," | printf "[%s]" | safeHTML -}}
{{- else -}}
    {{- $value | jsonify | safeHTML -}}
{{- end -}}
