############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3

############################
# Hugo
############################

resources/
public/
.hugo_build.lock
assets/**/vendor
pnpm-lock.yaml
static/components/

############################
# Misc.
############################

*#
ssl
.idea
nbproject
.netlify

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

testApp
coverage

############################
# Temp
############################
