.navbar {
    padding: 20px 0;
    background: transparent;
    transition: all 0.3s ease;
    @include desktop {
        background: $white;
    }
    @include desktop {
        padding: 15px 20px;
        border-radius: 5px;
    }
    .navbar-brand {
        img {
            @include desktop {
                width: 80%;
            }
        }
    }
    @include desktop {
        .navbar-toggler {
            outline: 0;
            padding: 0;
        }
    }
}
.navbar .navbar-toggler.collapsed .navbar-toggler-icon:nth-child(1) {
    transform: rotate(0);
}
.navbar .navbar-toggler.collapsed .navbar-toggler-icon:nth-child(2) {
    opacity: 1;
    filter: alpha(opacity=1);
}
.navbar .navbar-toggler.collapsed .navbar-toggler-icon:nth-child(3) {
    transform: rotate(0);
}
.navbar .navbar-toggler-icon:not(:last-child) {
    margin-bottom: 5px;
}
.navbar .navbar-toggler-icon:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar .navbar-toggler-icon:nth-child(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar .navbar-toggler-icon:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar .navbar-toggler-icon {
    height: 2px;
    width: 25px;
    transition: all 0.2s;
    background: $primary;
    display: block;
}
.navbar .navbar-toggler.collapsed {
    .navbar-toggler-icon {
    }
}
.navbar.nav__color__change {
    background: $white;
    padding: 10px 0;
    box-shadow: 0 10px 20px 0 rgba(50, 65, 141, 0.1);
    @include desktop {
        padding: 15px 20px;
        margin: 10px 10px 0;
    }
}
