{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
  <nav aria-label="Page navigation" class="w-100">
    <ul class="pagination justify-content-center">
      {{ range $pag.Pagers }}
        {{ if eq . $pag }}
          <li class="active">
            <a  href="{{ .URL }}">{{ .PageNumber }}</a>
          </li>
        {{ else }}
          <li >
            <a  href="{{ .URL }}">{{ .PageNumber }}</a>
          </li>
        {{ end }}
      {{ end }}

      {{ if $pag.HasNext }}
        <li >
          <a  href="{{ $pag.Next.URL }}" rel="next"> → </a>
        </li>
      {{ end }}
    </ul>
    <!-- </nav> -->
  </nav>
{{ end }}
