{{ with .Site.Data.productSection }}
  {{ if .enable }}
    <section class="section product" id="product">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">
            <div class="product__header mb-5">
              <span class="top-title">{{ .topTitle }}</span>
              {{ .title | markdownify }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="product-item-grid">
              {{ range first .itemCount (where $.Site.RegularPages "Type" "product") }}
                <div class="product-item">
                {{ if (isset .Params "thumbnail") }}
                  {{ $asset := resources.Get .Params.thumbnail }}
                  {{ $img := $asset.Resize "500x" }}
                  <img src="{{ $img.RelPermalink }}" class="product-item-thumb" alt="product-thumb" />
                {{ end }}
                  <div class="product-item-content">
                    <span>{{ .Params.categories }}</span>
                    <h3 class="mb-0">
                      <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h3>
                    <a class="see-more-btn" href="{{ .Permalink }}">Részletek</a>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div>
            <a class="mt-4 mx-2 ml-auto btn btn-lg btn-primary btn-zoom" href="{{ .buttonTarget | relURL }}"
              >{{ .buttonName }}</a
            >
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
