<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">
            {{ $asset := resources.Get .Site.Params.logo }}
            {{ $img := $asset.Fit "600x200" }}
            <img
                style="width: 100px; height: 70px; object-fit: contain"
                src="{{ $img.RelPermalink }}"
                alt="site-logo" />
        </a>
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="navbar-nav my-0 mx-auto">
                {{ $menu := .Site.Menus.main }}
                {{ range $index, $element := $menu }}
                    <li>
                        <a
                            href="{{ .URL | relURL }}"
                            class="nav-link text-dark text-sm-center p-2 {{ if $.IsHome }}scroll{{ end }}"
                            >{{ .Name }}</a
                        >
                    </li>
                {{ end }}
            </ul>
            <div class="navbar-nav">
                <a href="{{ "contact" | relURL }}" class="btn btn-primary btn-zoom">Rendelés</a>
            </div>
        </div>
    </div>
</nav>
